@font-face {
  font-family: 'Overpass';
  src: url("fonts/Overpass_Regular-webfont.eot");
  src: url("fonts/Overpass_Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Overpass_Regular-webfont.woff") format("woff"), url("fonts/Overpass_Regular-webfont.ttf") format("truetype"), url("fonts/Overpass_Regular-webfont.svg#overpassregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src: url("fonts/Overpass_Bold-webfont.eot");
  src: url("fonts/Overpass_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Overpass_Bold-webfont.woff") format("woff"), url("fonts/Overpass_Bold-webfont.ttf") format("truetype"), url("fonts/Overpass_Bold-webfont.svg#overpassbold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url("fonts/OpenSans-CondBold-webfont.eot");
  src: url("fonts/OpenSans-CondBold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-CondBold-webfont.woff") format("woff"), url("fonts/OpenSans-CondBold-webfont.ttf") format("truetype"), url("fonts/OpenSans-CondBold-webfont.svg#open_sans_condensedbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 17, ../sass/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../sass/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 33, ../sass/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 36, ../sass/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 48, ../sass/partials/_reset.scss */
button {
  background-color: transparent;
  border: 0;
  outline: 0;
  margin: 0px;
  padding: 0px;
}

/* line 3, ../sass/partials/_general.scss */
body {
  color: #3f3f3f;
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 16px;
  background-color: #f7f7f7;
}

/* line 9, ../sass/partials/_general.scss */
a {
  text-decoration: none;
  color: #3f3f3f;
}
/* line 4, ../sass/partials/_mixins.scss */
a:link {
  color: #3f3f3f;
}
/* line 7, ../sass/partials/_mixins.scss */
a:visited {
  color: #3f3f3f;
}
/* line 10, ../sass/partials/_mixins.scss */
a:hover {
  color: #3f3f3f;
  color: #3f3f3f;
}
/* line 14, ../sass/partials/_mixins.scss */
a:active {
  color: #3f3f3f;
}

/* line 14, ../sass/partials/_general.scss */
h1 {
  font-family: "Overpass", "Verdana", "Arial", sans-serif;
}

/* line 15, ../sass/partials/_general.scss */
h2 {
  font-family: sans-serif;
}

/* line 7, ../sass/partials/_typography.scss */
.main_header h1 {
  font-size: 5.6875em;
  line-height: 1.49451em;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 13, ../sass/partials/_typography.scss */
.main_header h2 {
  font-family: "Open Sans Condensed", "Arial", sans-serif;
  font-size: 2.375em;
  line-height: 1.71053em;
  text-transform: uppercase;
  color: #f7f7f7;
  letter-spacing: 1px;
}

/* line 22, ../sass/partials/_typography.scss */
.social_links {
  line-height: 100px;
}

/* line 6, ../sass/partials/_layout.scss */
.main_header {
  text-align: center;
}
/* line 8, ../sass/partials/_layout.scss */
.main_header h2 {
  background-color: #a0507e;
}

/* line 13, ../sass/partials/_layout.scss */
.social_links li {
  display: inline;
  margin: 0px 8px 0px 8px;
}

/* line 19, ../sass/partials/_layout.scss */
.ui-tooltip {
  background: #3f3f3f;
  color: white;
  border: none;
  padding: 0;
  opacity: 1;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  font-size: 0.8em;
}

/* line 32, ../sass/partials/_layout.scss */
.ui-tooltip-content {
  position: relative;
  padding: 1em;
}

/* line 36, ../sass/partials/_layout.scss */
.ui-tooltip-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  top: -6px;
  left: 45%;
  border-color: #3f3f3f transparent;
  border-width: 0 8px 8px;
}
