// THE LAYOUT AND REST OF THE STYLES
// ---------------------------------------------------------------

// HEADER STYLES
// ---------------------------------------------------------------
.main_header {
	text-align: center;
	h2 {
		background-color: $main-color;
	}
}
.social_links {
	li {
		display: inline;
		margin: 0px 8px 0px 8px;
	}
}
.active_icon {
	margin-left: -40px;
	display: none;
}

// CONTENT STYLES
// ---------------------------------------------------------------
.main-content {
    max-width: 960px;
    margin: 0 auto;
    background-color:$main-content-bg-color;
}