// THE LAYOUT AND REST OF THE STYLES
// ---------------------------------------------------------------

// HEADER STYLES
// ---------------------------------------------------------------
.main_header {
	text-align: center;
    margin:0px 0px 20px 0px;
	h2 {
		background-color: $main-color;
	}
}
.social_links {
	li {
		display: inline;
		margin: 0px 8px 0px 8px;
	}
}
.active_icon {
	margin-left: -40px;
	display: none;
}

// CONTENT STYLES
// ---------------------------------------------------------------
.main-content {
    max-width: 960px - 150px; //150px padding left right
    padding: 70px 75px 70px 75px;
    margin: 0 auto;
    background-color: $main-content-bg-color;

    @include box-shadow( $drop-shadow-color 0px 0px 20px );
    header {
        text-align: center;
        margin: 0px 0px 60px 0px;
    }
    h2 {
        padding: 10px 0px 30px 0px;
    }
    p {
        padding: 0px 0px 20px 0px;
    }
    figure {
        max-width: 600px;
        text-align: center;
        margin: 0 auto;
    }
    img {
        @include box-shadow ( $drop-shadow-color 0px 0px 20px );
        max-width: 600px;
    }
    figcaption {
        padding: 5px 0px 5px 0px;
    }
    footer {
        text-align:center;
        padding:50px 0px 0px 0px;
        a {
            background-color: red;
            background: image-url('back-icon.png');
            background-position: left 10px;
            background-repeat: no-repeat;
            padding: 20px 20px 20px 60px;
            &:hover {
                color: $main-color;
            }
        }
    }
}