// TYPOGRAPHY VARIABLES
// ---------------------------------------------------------------
$general-type:"Open Sans" , "Arial" , sans-serif;
$reading-type:"Georgia" , "Times New Roman" , serif;
$base-font-size: 16px;

// COLOR VARIABLES
// ---------------------------------------------------------------
$basic-text-color:#2b2b2b;